<h3>List of students enrolled on @Model["course"].GetCourseName()</h3>
@if (Model["courseStudent"].Count == 0)
{
  <p>There are no students enrolled in this class</p>
}
else
{
<ul>
  @foreach( var student in Model["courseStudent"])
  {
    <li>@student.GetName()</li>
  }
</ul>
}
<h4>Add new student to class</h4>
<form action="/students/add" method="post">
  <input type="hidden" name="course_id" value="@Model["course"].GetId()">
  <label for="student_name_add">Enter student Name</label>
  <input type="text" name="student_name_add">
  <button type="submit">Add new student</button>
</form>
<h3>Remove Students</h3>
<form action="/student/clear/@Model" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>
<p><a href="/">Back home</a></p>
